*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --text-color:white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --border-avatar:  #ffffff50;
    --bg-link: #ffffff10;
    --border-link:#ffffff50;
    --bg-link-hover: #ffffff05;
    --border-link-hover:#D9D9D9;
    --bg-social-links:#ffffff20;
    --bg-switch-url: url(./assets/moon-stars.svg)
}

.light{
    --text-color:black;
    --bg-url: url(./assets/bg-mobile-light.png);
    --border-avatar:#00000050;
    --bg-link: #00000010;
    --border-link:#00000050;
    --bg-link-hover: #00000005;
    --border-link-hover:#202020;
    --bg-social-links:#00000020;
    --bg-switch-url: url(./assets/sun.svg)
}

body{
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

#main{
    width: 100%;
    max-width: 588px;
    margin: 0 auto;
    color:var(--text-color);
    font-family: Inter, sans-serif;
    padding: 30px 24px 20px;
}

#profile{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    gap: 8px;
}

#profile img{
    width: 112px;
    height: 112px;

    border: 2px solid var(--border-avatar);
    border-radius: 50%;
}

#switch{
    position: relative;
    width: 64px;

    margin: 4px auto;
}
#switch button{
    
    width: 32px;
    height: 32px;

    background: white var(--bg-switch-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    top: 50%;
    left: 0;
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back 0.2s;
}

.light #switch button {
    animation: slide-in 0.2s forwards;
}

#switch button:hover {
    outline: 8px solid var(--bg-link);
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--bg-link);
    border: 1px solid var(--border-link);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

#links{
    height: auto;
    margin: 24px 0;
}
#links ul{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 16px;
}
#links li{
    width: 100%;
    height: 56px;
    background: var(--bg-link);

    border: 1px solid var(--border-link);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#links a{
    color: var(--text-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#links li:hover{
    background: var(--bg-link-hover);
    border: 1.5px solid var(--border-link-hover);
}

#social-links{
    width: 100%;
    height: 88px;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
#social-links a{
    width: 40px;
    height: 40px;
    color: var(--text-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#social-links a:hover{
    background-color: var(--bg-social-links);
}


footer{
    padding-top: 20px;
    height: 70px;
    width: 100%;
    text-align: center;
}
footer a{
    text-decoration: underline;
    color: var(--text-color);
}

@media (min-width: 700px) {
    :root{
        
        --bg-url: url(./assets/bg-desktop.png)
    }
    
    .light{
        
        --bg-url: url(./assets/bg-desktop-light.png)
    }
}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}